<link rel="stylesheet" href="/store.css">
<div class="container mt-4">
    <form action="/store/search" method="post">
        <div class="mainInput">
            <input
            aria-autocomplete="both"
            aria-haspopup="false"
            autocapitalize="off"
            autocomplete="off"
            autocorrect="off"
            autofocus=""
            role="combobox"
            spellcheck="false"
            maxlength="2048"
            type="text"
            name="query"
            placeholder="Search for a book"
            />
            <button type="submit" class="null">
                <i class="material-icons md-dark md-inactive" aria-hidden="true">search</i>
            </button>
        </form>
    </div>
    <div class="products">
        <%if (!flag){%>
            <h3>No books found....</h3>
        <%}%>
      <% for (var i=0; i<products.length; i++) { %>
          <div class="product">
            <a href="/store/<%=products[i].id%>">
                <img class="prodIMG" style="height: 300px;" src="<%= products[i].image %>" alt="Book">
            </a>
              <% if (products[i].availability > 0) { %>
                <% if (products[i].name.length <= 15) {%>
              <h5 class="lead mt-3" style="display: block;"><%= products[i].name %></h5>
                <%} else {%>
                    <h5 class="lead mt-3" style="display: block;">
                        <% var str = '' %>
                        <% for(var j=0 ; j< 14 ; j++){%>
                            <% str = str + products[i].name[j] %>
                        <%}%>
                        <%= str %>...
                    </h5>
                <%}%>
              <%} else {%>
                <h6 class="lead mt-3">(NA)<del>
                    <% if (products[i].name.length <= 15) {%>
                        <h5 class="lead mt-3" style="display: block;"><%= products[i].name %></h5>
                          <%} else {%>
                              <h5 class="lead mt-3" style="display: block;">
                                  <% var str = '' %>
                                  <% for(var j=0 ; j< 14 ; j++){%>
                                      <% str = str + products[i].name[j] %>
                                  <%}%>
                                  <%= str %>...
                              </h5>
                          <%}%>
                </del></h6>
              <%}%>
              <h5>Rs.<%= products[i].cost %>/-</h5>
          </div>
      <%}%>
  </div>
</div>